*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

button {
    letter-spacing: 2px;
    font-size: 1.5rem;
    background-color: rgb(39, 152, 245);
    color: #fff;
    padding-inline: 2.5rem ;
    padding-block: 1rem ;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: rgba(39, 152, 245,0.8);
}

button:active {
    transform: scale(1.05);
}

p {
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid black;
    margin-top: 2rem;
    padding: 1rem;
    background-color: brown;
    color: #fff;
    border-radius: 5px;
}